* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #34495e;
  --darkgray: #2c3e50;
}

body {
  background-image: linear-gradient(
    120deg,
    rgb(116, 78, 106),
    rgb(116, 21, 21)
  );
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  margin-left: 0.5rem;
  color: brown;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: brown;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}
.trash-btn,
.completed-btn {
  background: brown;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.5rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/* Styling select drop down CSS ONLY */
select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.selected {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
  margin-left: 20px;
}
/* Arrow */
.selected::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;

  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.selected:hover::after {
  color: #f39c12;
}
